*.asv
*.MATLABDriveTag
Data/Graphics/
Data/Ephemeris/
Data/Utils/main.mat
Library/Archive/
Simulations/Results/**/*.fig
Simulations/Results/**/*.mat
Results/**/*.mat
debug.mat
Data/Utils/main.mat
Data/Utils/*.mat
